# Server
PORT=8000
API_PREFIX=/api/v1
CORS_ORIGIN=*

# Microservices (AWS)
AWS_REGION=il-central-1
HEALTH_LAMBDA_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-health
USER_INFO_LAMBDA_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-get-user-info
USER_MANAGEMENT_LAMBDA_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-write-user-rds
STATIONS_LAMBDA_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-get-station-info
STATIONS_LAMBDA_WRITE_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-write-station-rds
STATIONS_PORTS_READ_LAMBDA_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-get-ports-sessions-dynamo

# Auth (AWS Cognito)
AUTH_DISABLED=false
COGNITO_REGION=il-central-1
COGNITO_USER_POOL_ID=il-central-1_nfWmKzF6n
COGNITO_CLIENT_ID=3s9skrc7oievsvsu6usm0e6hdj
COGNITO_CROSS_ACCOUNT_ROLE_ARN=arn:aws:iam::852215679994:role/sam-db-lambdas-cognito-cross-account
COGNITO_CROSS_ACCOUNT_EXTERNAL_ID=charging-stations-backend

# ENVIRONMENT
NODE_ENV=production
LOG_LEVEL=debug
ENVIRONMENT=production
