# Server
PORT=8000
API_PREFIX=/api/v1/
CORS_ORIGIN=http://localhost:5173

# Health service mode
AWS_REGION=il-central-1
HEALTH_LAMBDA_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-health
USER_INFO_LAMBDA_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-get-user-info
STATIONS_LAMBDA_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-get-station-info
STATIONS_LAMBDA_WRITE_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-write-station-rds


# Auth (AWS Cognito)
AUTH_DISABLED=true
COGNITO_REGION=il-central-1
COGNITO_USER_POOL_ID=il-central-1_dVQbiQE07
COGNITO_CLIENT_ID=70ct74soj95kqqs4n6kld970m

# Logging
LOG_LEVEL=debug
ENVIRONMENT=local
