AWS_REGION=il-central-1
RDS_DB_SECRET_NAME=charging-stations-rds-postgres-credentials
AWS_LAMBDA_HOST_ACCOUNT=852215679994
CREATE_RDS_TABLES_FUNCTION_NAME=charging-stations-create-rds-tables
CONFIRM_CONSOLE_CREATED_ADMIN_FUNCTION_NAME=charging-stations-confirm-console-created-admin
HEALTH_FUNCTION_NAME=charging-stations-health
GET_USERS_FUNCTION_NAME=charging-stations-get-user-info
GET_STATIONS_FUNCTION_NAME=charging-stations-get-station-info
WRITE_STATION_FUNCTION_NAME=charging-stations-write-station-rds
WRITE_PORTS_FUNCTION_NAME=charging-stations-write-station-ports-dynamo
GET_PORTS_SESSIONS_FUNCTION_NAME=charging-stations-get-ports-sessions-dynamo